.recipe-container {
	padding: 0 2rem;
	padding-bottom: 50px;
	
   }
   
   .container-div {
	background-color: #ebebeb;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	background-color: #2ec4b5;
	margin: 60px 0px 0px 25%;
	color: rgb(122, 122, 122);
	font-size: 25px;
	border-radius: 7px;
	border:solid rgba(160, 160, 160, 0.2);
	box-shadow: 50px 50px 50px rgba(182, 90, 90, 0.2);
	   list-style: none;
	padding: 25px;
   }
   
   .detail-title {
	text-align: center;
	padding-top: 25px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 2.5rem;
	color: #f3efef;
	margin: 0.5rem 0;
	text-shadow: 3px 3px 3px rgb(102, 102, 102);
   }
   
   .detail-container img {
	max-width:  25vw;
	margin-top: 1.5rem;
	margin-left: 17px;
   }
   
   .detail-scores {
	padding-top: 10px;
	font-size: 30px;
	color: rgb(130, 117, 117);
	padding-bottom: 20px;
	text-align: center;
   }
   
   .detail-recipe h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	color: rgb(245, 243, 237);
	font-size: 1.8rem;
	padding-top: 20px;
	font-style: italic;
   }
   
   .detail-diets h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:  rgb(235, 221, 221);
	font-size: 1.3rem;
	text-align: center;
	display: inline;
   }
   
   .detail-recipe p {
	padding-top: 10px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: justify;
	font-size: 1rem;
	color: rgb(130, 117, 117);
   }
   .buttonhome{
	box-sizing: border-box;
	color:#ffffff;
	   background-color: transparent;
	   border-radius: 0.6em;
	   font-size: 1rem;
	   margin: 5px;
	   padding: 10px;
	   text-align: center;
	   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	   font-weight: 500;
	   border-color: #553d11;
	   box-shadow: 0 0 40px 40px #ff1a0188 inset, 0 0 0 0 #553d11;
	   -webkit-transition: all 150ms ease-in-out;
	   transition: all 150ms ease-in-out;
   }
   .buttonhome:hover, .buttonhome :focus {
	   box-shadow: 0 0 10px 0 #ffecc9 inset, 0 0 10px 4px #ffecc9;
	   color: rgb(0, 0, 0);
	   outline: 0;
   }