.form-main-container {
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	zoom: 80%;
	
}

.form-container {
	margin:auto;
	margin-top: 20px;
	padding: 20px;
	width: 600px;
	align-items: center;
	justify-content: center;
	background-color: #2ec4b5;
}

.form-div{
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(34, 34, 34);
    list-style: none;
	background-color: #2ec4b5;
	padding: 0px;
	border: 0px;

}

.form-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-items input {
	height: 40px;
	width: 100%;
	margin: 10px;
}

.form-items input::placeholder{
	font-size: 20px;
}

.form-items textarea {
	height: 100px;
	width: 100%;
	margin: 10px;
}

textarea::placeholder {
	font-size: 20px;
}


.form-title {
	color: rgb(229, 239, 238);
	margin-bottom: 30px;
	font-size: 50px;
}

.form-buttons {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.diets-container {
	position:relative;
    width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: space-between;

}

.diets-container label {
	margin-right: 15px;
}

input[type=checkbox]{
	-ms-transform: scale(1); 
	-moz-transform: scale(1); 
	-webkit-transform: scale(1); 
	-o-transform: scale(1); 
	padding: 10px;
}

.checkboxtext {
	font-size: 110%;
	display: inline;
	padding-left: 10px;
}

.btn-create {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	background-color: #03810a;
	border-radius: 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2em;
	width: 8vw;
	height: 7vh;
	margin-left: 3rem;
}

.btn-create:hover {
	background-color: #cbf3f0;
	color: #2ec4b5;
}

.btn-reset {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	background-color: #eb0f34;
	border-radius: 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2em;
	width: 8vw;
	height: 7vh;
}

.btn-reset:hover {
	background-color: #ffbf69;
	color: #ebebeb;
}

p.danger {
	color: #f71d00;
	text-align: center;
	margin: 0;
	font-size: 1rem;
	font-style: italic;
}

p.pass {
	display:  none;
}

input.danger {
	border: 2px solid #f55c47;
}

textarea.danger {
	border: 2px solid #f55c47;
}